@font-face {
	font-family: "Roboto";
	src: url("../../fonts/Roboto-Thin.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: "Roboto";
	src: url("../../fonts/Roboto-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Roboto";
	src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Roboto";
	src: url("../../fonts/Roboto-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Roboto";
	src: url("../../fonts/Roboto-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Roboto";
	src: url("../../fonts/Roboto-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: "Roboto";
	src: url("../../fonts/Roboto-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: 400;
}

@font: 'Roboto', sans-serif;

@c-black: #0C090A;
@c-white: #fff;
@c-gray: #aaa9ad42;
@c-dark-gray: #282828;
@c-orange: #FF6200;
@c-green: #00bb00;
@c-red: #bb0000;
